<div ng-controller="homeviewController">
	<div class="row">
		<div class="col-md-12">
		  <div style="height:50px;padding-top:3px;background-color: #eee;">
		    <span style="padding-left:10px;font-weight:700;font-size:30;">Teacher's home</span>
		  </div>
	  	</div>
	</div>
	<br>

	<div class="row" style="margin-top:10px;">
		<a href="#!performance">
			<div class="col-md-2">
			  <div style="border:1px solid darkorange;padding:14px;border-radius: 4px;font-size:17px;" class="hoverclass">
			  	<center><i class="material-icons" style="font-size:50px;color:orange;">group</i></center>
			    <center><span style="">Student performance</span></center>
			  </div>
		  	</div>
		</a>

		<a href="#!leaderboard">
			<div class="col-md-2">
			  <div style="border:1px solid #4CAF50;padding:15px;border-radius: 4px;font-size:17px;" class="hoverclass">
			  	<center><i class="material-icons" style="font-size:50px;color:#4CAF50;">business_center</i></center>
			    <center><span style="">Leaderboard</span></center>
			  </div>
		  	</div>
		</a>
	</div>

	<style type="text/css">
		.hoverclass{
			color:gray;
		}

		.hoverclass:hover{
			background-color: #d3d3d3;
		}
	</style>

</div>